/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body {
  background-color: #1e1e1e;
}

/* NAVIGATION STARTS HERE */

header {
  /* background-color: red; */ /* remove later */
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 75px;
  width: 100%;
  padding: 20px 5px;
}

header .brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-name {
  font-family: "Agency FB";
  color: #ff6b00;
  font-size: 16px;
  padding: 5px 0;
}

.search-container {
  margin-left: 20px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ff6b00;
}

.search-button {
  padding: 0 10px;
}

.search-input {
  border: none;
  outline: none;
  background-color: #1e1e1e;
  width: 100px;
  opacity: 100%;
}

.hamburger-checkbox {
  display: flex;
  position: absolute;
  align-items: center;
  right: 0;
  height: 40px;
  width: 40px;
}

.hamburger {
  position: relative;
  background: #fff;
  width: 30px;
  height: 5px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger::before,
.hamburger::after {
  /* hamburger top and buttom*/
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2; /* to make the hamburger below the checkbox */
  transition: 0.3s;
}

.hamburger::before {
  top: -10px;
  width: 30px;
}

.hamburger::after {
  top: 10px;
  width: 30px;
}

.toggle-menu {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 3;
  opacity: 00%; /* Hiding the checkbox */
}

/* condition ~ for the sibling elements */
.hamburger-checkbox input:checked ~ .hamburger {
  background: transparent;
}

.hamburger-checkbox input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

.hamburger-checkbox input:checked ~ .hamburger::before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

/* makes the nav appear */
.hamburger-checkbox:has(input:checked) + .navigation .nav-menu {
  right: 0;
}

nav .nav-menu {
  background-color: rgb(37, 37, 37); /*  remove change later */
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: start;
  position: fixed;
  top: 75px;
  right: -700px; /* change this to negative to hide */
  height: 100%;
  width: 50%;
  padding-top: 75px;
  padding-left: 15px;
  z-index: 1;
  transition: 0.3s;
}
.nav-menu li {
  display: flex;
  align-items: center;
  padding: 15px 15px;
}

nav .nav-menu li a {
  position: relative;
  font-size: 16px;
  padding: 10px 5px;
}

nav .nav-menu li a:hover {
  position: relative;
  /* box-shadow: 0 2px 0 #fff; */ /* enable to desktop */
}

@media screen and (min-width: 769px) {
  .hamburger,
  .toggle-menu {
    /* display: none; */
  }
  header {
    background-color: blue;
    padding: 50px 5px;
  }

  nav .nav-menu li a:hover {
    position: relative;
    box-shadow: 0 2px 0 #fff; /* enable to desktop */
  }
}
