/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700");

body {
  background-color: #1e1e1e;
  margin: 0 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* UTILITY */
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.m-auto {
  margin: auto;
}
.marg-1 {
  margin: 1rem;
}

.marg-2 {
  margin: 2rem;
}

.color-1 {
  color: #ff6b00;
}

.f-18 {
  font-size: 1.1rem;
}
.f-25 {
  font-size: 1.6rem;
}

/* NAVIGATION STARTS HERE */

header {
  /* background-color: red; */ /* remove later */
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  padding-top: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}

header .brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: end;
}

.brand-name {
  font-family: "Agency FB";
  color: #ff6b00;
  font-size: 16px;
  margin: 5px 0;
}

.search-container {
  margin-left: 20px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ff6b00;
}

.search-button {
  padding: 0 10px;
}

.search-input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 120px;
  opacity: 100%;
}

.hamburger-checkbox {
  display: flex;
  position: absolute;
  align-items: center;
  right: 1.25rem;
  align-self: center;
}

.hamburger {
  position: relative;
  background: #fff;
  width: 40px;
  height: 5px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger::before,
.hamburger::after {
  /* hamburger top and buttom*/
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2; /* to make the hamburger below the checkbox */
  transition: 0.3s;
}

.hamburger::before {
  top: -10px;
  width: 40px;
}

.hamburger::after {
  top: 10px;
  width: 40px;
}

.toggle-menu {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 3;
  opacity: 00%; /* Hiding the checkbox */
}

/* condition ~ for the sibling elements */
.hamburger-checkbox input:checked ~ .hamburger {
  background: transparent;
}

.hamburger-checkbox input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

.hamburger-checkbox input:checked ~ .hamburger::before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

/* makes the nav appear */
.hamburger-checkbox:has(input:checked) + .navigation .nav-menu {
  right: 0;
}

nav .nav-menu {
  background-color: rgb(37, 37, 37); /*  remove change later */
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: start;
  position: fixed;
  top: 65px;
  right: -1000px; /* change this to negative to hide */
  height: 100%;
  width: 100%;
  padding-top: 75px;
  padding-left: 15px;
  z-index: 1;
  transition: 0.3s;
}
.nav-menu li {
  display: flex;
  align-items: center;
  padding: 20px 20px;
}

nav .nav-menu li a {
  position: relative;
  font-size: 16px;
  /* padding: 10px 5px; */
}

nav .nav-menu li a:hover {
  position: relative;
  /* box-shadow: 0 2px 0 #fff; */ /* enable to desktop */
}

/* HERO SECTION */
.hero-image {
  background: url(/assets/images/poster-pictures/f-square-4.png) no-repeat
    center;
  background-size: cover;
  height: 300px; /* change this on desktop */
  margin: 0;
}

.home-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
  position: relative;
}

.home-hero p {
  display: none;
}

.home-featured {
  position: absolute;
  border-bottom: 7px solid #ff6b00;
  padding-bottom: 0.4rem;
  left: 0;
  bottom: -3rem;
  padding-left: 8vw;
  padding-bottom: 1rem;
}
.home-featured h1 {
  color: #fff;
  font-family: Oswald;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.view-details {
  background-color: #858585;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.watch-btn {
  display: none;
}
/* move to desktop */

.cus-plybtn {
  font-size: 5em; /* the content inside the circle */
  color: #fff;
  display: grid; /* to place the triangle in the center */
  place-items: center; /* to place the triangle in the center */
  height: 1em; /* the container */
  width: 1em;
  border-radius: 50%;
  border: 2px solid #ff6b00;
  background: transparent;

  color: pointer;
}

.cus-plybtn::before {
  /*  the triangle in the middle */
  content: "";
  display: inline-block;
  border-left: 0.33em solid;
  border-top: 0.22em solid transparent;
  border-bottom: 0.22em solid transparent;
}

/* Latest and Upcoming movies section*/

.list {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  padding-left: 1rem;
}

.list .list-name h3 {
  font-size: 1.1rem;
  margin: 1rem;
}
.list .list-name p {
  display: none;
}

.list .list-images {
  display: flex;
  gap: 1rem;
  overflow-x: scroll; /* scrolling horizontal */
  overflow-y: hidden;
  margin: 1rem 1.5rem;
  padding: 0 0 1rem;
  scrollbar-color: orange rgba(0, 0, 0, 0.2);
  position: relative;
}

.list .list-images li {
  display: block;
  height: 200px; /* height: 200px; */
  min-width: 140px; /*  min-width: 140px; */
}

.list .list-images li img {
  height: 100%;
  object-fit: cover;
}

.movie-grid {
  margin: 0 2rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-color: orange rgba(0, 0, 0, 0.2);
  gap: 1rem;

  .movie-entry {
    min-width: 140px;
  }
}

.grid-meta {
  padding: 0 1rem;

  p {
    display: none;
  }
}

.line {
  margin: 5rem 0;
  width: 100%;
  height: 2px;
  background-color: #ff6b00;
}

.hero-image-2 {
  background: url(/assets/images/poster-pictures//square-19.png) no-repeat
    center;
  background-size: cover;
  height: 250px; /* change this on desktop */
  margin: 0;
}

/* --------------DESKTOP STARTS HERE-------------- */
@media screen and (min-width: 769px) {
  .hamburger,
  .toggle-menu {
    display: none;
  }

  header .brand {
    display: flex;
  }

  .brand-name {
    font-size: 25px;
  }
  .brand .brand-image {
    width: 80px;
    height: auto;
  }
  .search-container {
    margin-left: 35px;
    padding-right: 10px;
  }

  nav .nav-menu {
    flex-direction: row;
    right: 0;
    height: 0;
    top: 40px;
    padding-top: 0;
    transition: 0.3s;
    position: relative;
  }

  .nav-menu li {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 15px;
  }
  nav .nav-menu li a {
    font-size: 18px;
  }
  nav .nav-menu li a:hover {
    position: relative;
    box-shadow: 0 2px 0 #fff; /* enable to desktop */
  }

  /* HERO SECTION */
  .hero-image {
    height: 750px; /* change this on desktop */
  }

  .cus-plybtn {
    display: none;
  }

  .home-hero {
    padding: 0 0;
    justify-items: start;
    align-items: left;
  }

  .home-hero p {
    display: flex;
    position: relative;
    font-size: 18px;
  }

  .home-featured {
    position: relative;

    margin-right: 50%;
    margin-left: 10%;
    padding-left: 0;
    margin-top: 5%;
  }

  .home-featured h1 {
    font-size: 60px;
  }

  .view-details {
    font-size: 18px;
  }

  .home-featured a {
    display: inline-block;
    margin: 0.5rem 0.5rem;
  }

  /* move to desktop */
  .watch-btn {
    font-size: 18px;

    display: inline;
    background-color: #ff6b00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Optional: Add a smooth transition effect */
  }

  .watch-btn:hover {
    background-color: #b94e02;
  }

  section,
  header,
  footer {
    max-width: 1280px;
    margin: auto;
  }

  /* Latest and Upcoming movies section*/
  .list {
    flex-direction: row;
    gap: 2rem;
    margin: 3rem 2rem;
  }

  .list .list-name h3 {
    font-size: 26px;
    text-align: right;
    margin: 0;
  }
  .list .list-name p {
    display: block;
    color: #ff6b00;
    text-align: right;
  }

  .list .list-images {
    margin: 0;
  }

  .list .list-images-wrapper {
    overflow: auto;
    overflow-y: hidden;
    position: relative;
  }

  .list .list-images-wrapper::after {
    content: "";
    width: 60px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(90deg, transparent 10%, #1e1e1e 80%);
  }

  .list .list-images-wrapper::before {
    content: "";
    z-index: 10;
    width: 60px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #1e1e1e 10%, transparent 80%);
  }

  .list .list-images li img {
    border: 1px solid #ff6b00;
  }

  /* GRID MOVIES */
  .grid-container {
    max-width: 1100px; /* max-width: 1280px; */
    margin: auto;
    padding: 2rem 2rem !important;
  }

  .grid-meta {
    padding: 0;

    p {
      display: flex;
      justify-content: center;
    }
  }
  .grid-name {
    h3 {
      font-size: 1.6rem;
    }

    a {
      font-size: 1.1rem;
    }
  }

  .movie-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow-x: hidden;
    overflow-y: hidden;
    gap: 1.5rem;
    margin: 0 0;
    padding: 0 0;
  }

  .movie-grid .movie-entry.featured {
    /* Big picture that placed on grid */
    grid-column: 4 / 6;
    grid-row: 1 / 3;
  }

  .movie-grid .movie-entry img {
    height: 100%;
    object-fit: cover;
  }
}
