/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700");

body {
  background-color: #1e1e1e;
  margin: 0 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* NAVIGATION STARTS HERE */

header {
  /* background-color: red; */ /* remove later */
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  padding-top: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}

header .brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: end;
}

.brand-name {
  font-family: "Agency FB";
  color: #ff6b00;
  font-size: 16px;
  margin: 5px 0;
}

.search-container {
  margin-left: 20px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ff6b00;
}

.search-button {
  padding: 0 10px;
}

.search-input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 120px;
  opacity: 100%;
}

.hamburger-checkbox {
  display: flex;
  position: absolute;
  align-items: center;
  right: 1.25rem;
  align-self: center;
}

.hamburger {
  position: relative;
  background: #fff;
  width: 40px;
  height: 5px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger::before,
.hamburger::after {
  /* hamburger top and buttom*/
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2; /* to make the hamburger below the checkbox */
  transition: 0.3s;
}

.hamburger::before {
  top: -10px;
  width: 40px;
}

.hamburger::after {
  top: 10px;
  width: 40px;
}

.toggle-menu {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 3;
  opacity: 00%; /* Hiding the checkbox */
}

/* condition ~ for the sibling elements */
.hamburger-checkbox input:checked ~ .hamburger {
  background: transparent;
}

.hamburger-checkbox input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

.hamburger-checkbox input:checked ~ .hamburger::before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

/* makes the nav appear */
.hamburger-checkbox:has(input:checked) + .navigation .nav-menu {
  right: 0;
}

nav .nav-menu {
  background-color: rgb(37, 37, 37); /*  remove change later */
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: start;
  position: fixed;
  top: 65px;
  right: -1000px; /* change this to negative to hide */
  height: 100%;
  width: 100%;
  padding-top: 75px;
  padding-left: 15px;
  z-index: 1;
  transition: 0.3s;
}
.nav-menu li {
  display: flex;
  align-items: center;
  padding: 20px 20px;
}

nav .nav-menu li a {
  position: relative;
  font-size: 16px;
  /* padding: 10px 5px; */
}

nav .nav-menu li a:hover {
  position: relative;
  /* box-shadow: 0 2px 0 #fff; */ /* enable to desktop */
}

/* HERO SECTION */
.hero-image {
  background: url(/assets/images/poster-pictures/f-square-4.png) no-repeat
    center;
  background-size: cover;
  height: 300px; /* change this on desktop */
  margin: 0;
}

.home-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
  position: relative;
}

.home-hero p {
  display: none;
}

.home-featured {
  position: absolute;
  border-bottom: 7px solid #ff6b00;
  padding-bottom: 0.4rem;
  left: 0;
  bottom: 0.5rem;
  padding-left: 30px;
}
.home-featured h1 {
  color: #fff;
  font-family: Oswald;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.view-details {
  background-color: #858585;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* move to desktop */
.watch-btn {
  display: none;
}

.cus-plybtn {
  font-size: 5em; /* the content inside the circle */
  color: #fff;
  display: grid; /* to place the triangle in the center */
  place-items: center; /* to place the triangle in the center */
  height: 1em; /* the container */
  width: 1em;
  border-radius: 50%;
  border: 2px solid #ff6b00;
  background: transparent;

  color: pointer;
}

.cus-plybtn::before {
  content: "";
  display: inline-block;
  border-left: 0.33em solid;
  border-top: 0.22em solid transparent;
  border-bottom: 0.22em solid transparent;
}

/* DESKTOP STARTS HERE */
@media screen and (min-width: 769px) {
  .hamburger,
  .toggle-menu {
    display: none;
  }

  header .brand {
    display: flex;
  }

  .brand-name {
    font-size: 25px;
  }
  .brand .brand-image {
    width: 80px;
    height: auto;
  }
  .search-container {
    margin-left: 35px;
    padding-right: 10px;
  }

  nav .nav-menu {
    flex-direction: row;
    right: 0;
    height: 0;
    top: 40px;
    padding-top: 0;
    transition: 0.3s;
    position: relative;
  }

  .nav-menu li {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 15px;
  }
  nav .nav-menu li a {
    font-size: 18px;
  }
  nav .nav-menu li a:hover {
    position: relative;
    box-shadow: 0 2px 0 #fff; /* enable to desktop */
  }

  /* HERO SECTION */
  .hero-image {
    height: 750px; /* change this on desktop */
  }

  .cus-plybtn {
    display: none;
  }
  .home-hero {
    padding: 0 0;
    justify-items: start;
    align-items: left;
  }

  .home-hero p {
    display: flex;
    position: relative;
    font-size: 18px;
  }

  .home-featured {
    position: relative;
    border-bottom: 7px solid #ff6b00;
    margin-right: 50%;
    margin-left: 10%;
    padding-left: 0;
    margin-top: 5%;
  }

  .home-featured h1 {
    color: #fff;
    font-family: Oswald;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .view-details {
    background-color: #858585;
    color: #fff;
    font-size: 18px;

    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /* move to desktop */
  .watch-btn {
    font-size: 18px;

    display: inline;
    background-color: #ff6b00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Optional: Add a smooth transition effect */
  }

  .watch-btn:hover {
    background-color: #b94e02;
  }
}
